<% provide(:title, "Sign Up") %>
<div class="signup_page_main">
  <br>
  <div class="container">
    <div class="col-md-6 signup_left">
      <!-- for image -->
      <%= image_tag("share3", height: "500px") %>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 signup_page_right panel panel-default">
      <div class="panel-body">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {role: "form"}) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label "Branch", for: "sel1" %><br />
            <%= f.select :branch_id, all_branch.all.collect { |b|  [b.name, b.id] },{},{ class: "form-control", id: "sel1"} %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%# render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>