<div class="container-fluid forgot_password_new" align="center">
	<%= image_tag("ss", size: "600x150") %>
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
	  <%= devise_error_messages! %>
	  <br><br>
	  <div class="form-field" style="width:40%;">
	    <%= f.email_field :email, autofocus: true, placeholder: "e-mail", class: "form-control" %>
	  </div>

	  <div class="form-field">
	  	<br>
	    <%= f.submit "Send me reset password instructions",class: "btn btn-primary" %>
	  </div>
	<% end %>
	<br>
	<%= render "devise/shared/links" %>

</div>
	