<h3>Hello Admin</h3>

<div class="container">
  <span>
    <%= link_to "all uploads", uploads_path %> | <%= link_to "all links", links_path %> | <%= link_to "branches", branches_path %>
    | <%= link_to "subjects", all_subjects_path %>
    | <%= link_to "#{Branch.find(1).name} uploads" , uploads_branch_path(Branch.find(1))  %>
    | <%= link_to "#{Branch.find(1).name} links" , links_branch_path(Branch.find(1))  %>
    | <%= link_to "cse uploads", uploads_branch_path(Branch.find(2)) %>
    | <%= link_to "cse links" , links_branch_path(Branch.find(2))  %>
    | <%= link_to "#{Branch.find(3).name} uploads" , uploads_branch_path(Branch.find(3))  %>
    | <%= link_to "#{Branch.find(3).name} links"   , links_branch_path(Branch.find(3))  %>
    | <%= link_to "#{Branch.find(4).name} uploads" , uploads_branch_path(Branch.find(4))  %>
    | <%= link_to "#{Branch.find(4).name} links"   , links_branch_path(Branch.find(4))  %>
    | <%= link_to "#{Branch.find(5).name} uploads" , uploads_branch_path(Branch.find(5))  %>
    | <%= link_to "#{Branch.find(5).name} links"   , links_branch_path(Branch.find(5))  %>
    | <%= link_to "#{Branch.find(6).name} uploads" , uploads_branch_path(Branch.find(6))  %>
    | <%= link_to "#{Branch.find(6).name} links"   , links_branch_path(Branch.find(6))  %>
    | <%= link_to "#{Branch.find(7).name} uploads" , uploads_branch_path(Branch.find(7))  %>
    | <%= link_to "#{Branch.find(7).name} links"   , links_branch_path(Branch.find(7))  %>
    | <%= link_to "#{Branch.find(8).name} uploads" , uploads_branch_path(Branch.find(8))  %>
    | <%= link_to "#{Branch.find(8).name} links"   , links_branch_path(Branch.find(8))  %>
    | <%= link_to "#{Branch.find(9).name} uploads" , uploads_branch_path(Branch.find(9))  %>
    | <%= link_to "#{Branch.find(9).name} links"   , links_branch_path(Branch.find(9))  %>

  </span>
  <div class="row">
    <div class="col-sm-6">
      <% if @unapprovedUploads.empty? %>
        <h3>No Pending Upload Approvals</h3>
      <% else %>
        <%= form_tag({controller: "home_pages", action: "upload_approval"}, method: "get") do %>
          <% @unapprovedUploads.each do |u| %>
            <br><hr>
            <%= link_to u.topic, u.file.url, target: "_blank" %>
            <%= check_box_tag(:"#{u.id}") %>
          <% end %>
          <br><hr>
          <%= submit_tag("Approve") %>
        <% end %>
      <% end %>
    </div>

    <div class="col-sm-6">
      <% if @unapprovedLinks.empty? %>
        <h3>No Pending Link Approvals</h3>
      <% else %>
        <%= form_tag({controller: "home_pages", action: "link_approval"}, method: "get") do %>
          <% @unapprovedLinks.each do |u| %>
            <br><hr>
            <%= link_to u.topic, url_with_protocol(u.url), target: "_blank" %>
            <%= check_box_tag(:"#{u.id}") %>
          <% end %>
          <br><hr>
          <%= submit_tag("Approve") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
