<% if current_user %>
  <% user_name = current_user.name %>
  <% user_email = current_user.email %>
<% end %>

<%= form_for @feedback, html: {class: "form", role: "form"} do |f| %>

  <div class="form-group">
    <%= f.label :user_name %>
    <%= f.text_field :user_name, { value: "#{user_name}" } %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <%= f.submit "Submit", class: "btn btn-default" %>

<% end %>
