
<div class="container-fluid landing text-center">
  <h1>Get your notes<br>Share it in community</h1><br>
  <span><a class="btn btn-lg explore" id="explore">Explore</a></span>
</div>

<div class="container-fluid bg-theme-color text-center branch">
   <br><br><br>
  <div class="row">

    <div class="col-md-4">
      <% @bid = Branch.find(1) %>
      <a href="<%= branch_subjects_path(@bid) %>" class="flex-container-branch">
        <div class="flex-item-branch"><h3><%= @bid.name %></h3></div>
      </a>
    </div>

    <div class="col-md-4">
      <% @bid = Branch.find(2) %>
      <a href="<%= branch_subjects_path(@bid) %>" class="flex-container-branch">
        <div class="flex-item-branch"><h3><%= @bid.name %></h3></div>
      </a>
    </div>

    <div class="col-md-4">
      <% @bid = Branch.find(3) %>
      <a href="<%= branch_subjects_path(@bid) %>" class="flex-container-branch">
        <div class="flex-item-branch"><h3><%= @bid.name %></h3></div>
      </a>
    </div>

  </div>
  <br>
  <div class="clearfix"></div>

  <div class="row">

    <div class="col-md-4">
      <% @bid = Branch.find(4) %>
      <a href="<%= branch_subjects_path(@bid) %>" class="flex-container-branch">
        <div class="flex-item-branch"><h3><%= @bid.name %></h3></div>
      </a>
    </div>

    <div class="col-md-4">
      <% @bid = Branch.find(5) %>
      <a href="<%= branch_subjects_path(@bid) %>" class="flex-container-branch">
        <div class="flex-item-branch"><h3><%= @bid.name %></h3></div>
      </a>
    </div>

    <div class="col-md-4">
      <% @bid = Branch.find(6) %>
      <a href="<%= branch_subjects_path(@bid) %>" class="flex-container-branch">
        <div class="flex-item-branch"><h3><%= @bid.name %></h3></div>
      </a>
    </div>

  </div>

  <div class="clearfix"></div>
  <br>
  <div class="row">

    <div class="col-md-4">
      <% @bid = Branch.find(7) %>
      <a href="<%= branch_subjects_path(@bid) %>" class="flex-container-branch">
        <div class="flex-item-branch"><h3><%= @bid.name %></h3></div>
      </a>
    </div>

    <div class="col-md-4">
      <% @bid = Branch.find(8) %>
      <a href="<%= branch_subjects_path(@bid) %>" class="flex-container-branch">
        <div class="flex-item-branch"><h3><%= @bid.name %></h3></div>
      </a>
    </div>

    <div class="col-md-4">
      <% @bid = Branch.find(9) %>
      <a href="<%= branch_subjects_path(@bid) %>" class="flex-container-branch">
        <div class="flex-item-branch"><h3><%= @bid.name %></h3></div>
      </a>
    </div>

  </div>

</div>

<div class="container-fluid recent-uploads">
  <b> <h3 style="font-family : 'Playball';" align="center";>Recent files uploaded</h3></b>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#first-year"><%= Branch.find(1).name %></a></li>
    <li><a data-toggle="tab" href="#cse">CSE</a></li>
    <li><a data-toggle="tab" href="#it">IT</a></li>
    <li><a data-toggle="tab" href="#ce">Civil</a></li>
    <li><a data-toggle="tab" href="#me">ME</a></li>
    <li><a data-toggle="tab" href="#ee">EE</a></li>
    <li><a data-toggle="tab" href="#etc">ETC</a></li>
    <li><a data-toggle="tab" href="#eee">EEE</a></li>
    <li><a data-toggle="tab" href="#ei">EI</a></li>
  </ul>

  <div class="tab-content">
    <div id="first-year" class="tab-pane fade in active">
      <h2 style="font-family:'Abril Fatface'; color:white;" align="center"><%= Branch.find(1).name %></h2>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight'; color:white;" align="center">Uploads</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_uploads(Branch.find(1)).each do |upload| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>

        <p>
          <h5 style="font-family:'Fauna One'; color:white;">
            <%= link_to "more", branch_subjects_path(Branch.find(1)) %>
          </h5>
        </p>
      </div>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight'; color:white;" align="center" style="color: white " >links</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_links(Branch.find(1)).each do |link| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
      </div>
    </div>

    <div id="cse" class="tab-pane fade">
      <h2 style="font-family:'Abril Fatface'; color:white;" align="center"><%= Branch.find(2).name %></h2>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight'; color:white;" align="center" >Uploads</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_uploads(Branch.find(2)).each do |upload| %><%# defined in home pages helper # cse %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
        <p>
          <h5 style="font-family:'Fauna One'; color:white;">
            <%= link_to "more", branch_subjects_path(Branch.find(2)) %>
          </h5>
        </p>
      </div>
      <div class="col-md-6">
        <h4  style="font-family :'Limelight'; color:white;" align="center" >Links</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_links(Branch.find(2)).each do |link| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
      </div>
    </div>

    <div id="it" class="tab-pane fade">
      <h2 style="font-family:'Abril Fatface'; color:white;" align="center"><%= Branch.find(3).name %></h2>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight'; color: white;" align="center">Uploads</h4>
        <h5 style="font-family : 'Fauna One';">
          <% recent_uploads(Branch.find(3)).each do |upload| %><%# defined in home pages helper %>
          <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
            <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
              <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
            </div>
          </div>
          <% end -%>
        </h5>
        <p>
          <h5 style="font-family:'Fauna One'; color:white;">
            <%= link_to "more", branch_subjects_path(Branch.find(3)) %>
          </h5>
        </p>
      </div>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight';color: white;" align="center">Links</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_links(Branch.find(3)).each do |link| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
      </div>
    </div>

    <div id="ce" class="tab-pane fade">
      <h2 style="font-family:'Abril Fatface'; color:white;" align="center"><%= Branch.find(4).name %></h2>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight'; color: white;" align="center">Uploads</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_uploads(Branch.find(4)).each do |upload| %><%# defined in home pages helper %>
          <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
            <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
              <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
            </div>
          </div>
          <% end -%>
        </h5>
        <p>
          <h5 style="font-family:'Fauna One'; color:white;">
            <%= link_to "more", branch_subjects_path(Branch.find(4)) %>
          </h5>
        </p>
      </div>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight';color: white;" align="center">Links</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
        <% recent_links(Branch.find(4)).each do |link| %><%# defined in home pages helper %>
          <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
            <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
            </div>
          </div>
        <% end -%>
        </h5>
      </div>
    </div>

    <div id="me" class="tab-pane fade">
      <h2 style="font-family:'Abril Fatface'; color:white;" align="center"><%= Branch.find(5).name %></h2>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight'; color: white" align="center">Uploads</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_uploads(Branch.find(5)).each do |upload| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
        <p>
          <h5 style="font-family:'Fauna One'; color:white;">
            <%= link_to "more", branch_subjects_path(Branch.find(5)) %>
          </h5>
        </p>
      </div>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight'; color: white" align="center">Links</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_links(Branch.find(5)).each do |link| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
      </div>
    </div>

    <div id="ee" class="tab-pane fade">
      <h2 style="font-family:'Abril Fatface'; color:white;" align="center"><%= Branch.find(6).name %></h2>
      <div class="col-md-6">
        <h4  style="font-family :'Limelight'; color:white;" align="center">Uploads</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_uploads(Branch.find(6)).each do |upload| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
        <p> <h5 style="font-family:'Fauna One'; color:white;">
        <%= link_to "more", branch_subjects_path(Branch.find(6)) %>
        </h5>
        </p>
      </div>
      <div class="col-md-6">
        <h4  style="font-family :'Limelight'; color:white;" align="center">Links</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_links(Branch.find(6)).each do |link| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
      </div>
    </div>

    <div id="etc" class="tab-pane fade">
      <h2 style="font-family:'Abril Fatface';" align="center"><%= Branch.find(7).name %></h2>
      <div class="col-md-6">
        <h4  style="font-family :'Limelight';" align="center">Uploads</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_uploads(Branch.find(7)).each do |upload| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
        <p>
          <h5 style="font-family:'Fauna One'; color:white;">
            <%= link_to "more", branch_subjects_path(Branch.find(7)) %>
          </h5>
        </p>
      </div>
      <div class="col-md-6">
        <h4  style="font-family :'Limelight';" align="center">Links</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_links(Branch.find(7)).each do |link| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
      </div>
    </div>


    <div id="eee" class="tab-pane fade">
      <h2 style="font-family:'Abril Fatface'; color:white;" align="center"><%= Branch.find(8).name %></h2>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight'; color: white;" align="center">Uploads</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
          <% recent_uploads(Branch.find(8)).each do |upload| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
        <p> <h5 style="font-family:'Fauna One'; color:white;">
        <%= link_to "more", branch_subjects_path(Branch.find(8)) %>
        </h5>
        </p>
      </div>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight'; color: white;" align="center">Links</h4>
        <h5 style="font-family : 'Fauna One'; color: white;">
          <% recent_links(Branch.find(8)).each do |link| %><%# defined in home pages helper %>
            <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
              <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
                <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
              </div>
            </div>
          <% end -%>
        </h5>
      </div>
    </div>

    <div id="ei" class="tab-pane fade">
      <h2 style="font-family:'Abril Fatface'; color:white;" align="center"><%= Branch.find(9).name %></h2>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight'; color: white;" align="center">Uploads</h4>
        <h5 style="font-family : 'Fauna One'; color: white">
        <% recent_uploads(Branch.find(9)).each do |upload| %><%# defined in home pages helper %>
          <div class="panel panel-default" style="background-color: rgba(255, 255, 255, 0); border: none;">
            <div class="panel-body" style="background-color: rgba(255, 255, 255, 0);">
              <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
            </div>
          </div>
        <% end -%>
        </h5>
        <p> <h5 style="font-family:'Fauna One'; color:white;">
        <%= link_to "more", branch_subjects_path(Branch.find(9)) %>
        </h5>
        </p>
      </div>
      <div class="col-md-6">
        <h4 style="font-family :'Limelight'; color: white;" align="center">Links</h4>
        <h5 style="font-family : 'Fauna One'; color: white;">
        <% recent_links(Branch.find(9)).each do |link| %><%# defined in home pages helper %>
          <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
        <% end -%>
        </h5>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $("#explore").click(function () {
    $('html, body').animate({
      scrollTop: $(".branch").offset().top
    }, 500);
  });
</script>
