<div class="main_home_page_1">
  <div class="main_home_page">
    <div class="col-md-6">
      <!-- <div style="margin-top:10%;">
        <h4><%= link_to "About", '#about_us' %></h4>
        <h4><%= link_to "How to Upload", '#how_to_upload' %></h4>
        <h4><%= link_to "Subjects", subjects_path %></h4>
        <h4><%= link_to "Contact Us", '#contact' %></h4>
      </div> -->
    </div>
    <div class="col-md-6 not_signed_middle">
      <div class="not_signed_in_panel">
        <div class="panel panel-default link-container">
          <div class="panel-heading" style="padding-left:10%;">
            Recent Uploads
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "more", uploads_path %>
          </div>
          <div class="panel-body" style="padding-left:10%;">
            <% Upload.all.order(created_at: :desc).limit(7).each do |upload| %>
              <h5>
                <%= link_to upload.topic, upload.file.url , target: "_blank" %>
                <small>
                  <!-- uploaded by <%= link_to upload.user.name, '#' %> &nbsp;
                  <%= time_ago_in_words(upload.created_at) %> ago -->
                  (<%= upload.subject.branch.name %>)
                </small>
              </h5>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>


			<!-- <div class="main_about_page" style="background-color: white;">
				<a name="about_us"></a>
				<b><h3 align="center">ABOUT</h3></b>
				<a href="#top">goto Top ^</a>
			</div>

			<div class="main_how_upload_page">
				<a name="how_to_upload"></a>
				<b><h3 align="center">How to Upload</h3></b>
				<a href="#top">goto Top ^</a>
				<p align="right"> <%= image_tag "share4.png", size: "160" %></p>
			</div>

			<div class="main_contact_page">
				<hr>
				<a name="contact"></a>
				<a href="#top">goto Top ^</a> l
				<h4><%# link_to "Team", team_path %></h4>
			</div> -->
</div>
