
<div class="container-fluid landing text-center">
  <h1>Get your notes<br>Share it in community</h1><br>
  <span><a class="btn btn-lg explore" id="explore">Explore</a></span>
</div>

<div class="container-fluid bg-theme-color text-center branch">
   <br><br><br>
  <div class="row">

    <div class="col-md-4 flex-container-branch">
      <div class="flex-item-branch"><h3><%=  link_to Branch.find(1).name, branch_subjects_path(Branch.find(1)) %></h3></div>
    </div>

    <div class="col-md-4 flex-container-branch">
      <div class="flex-item-branch "><h3><%=  link_to Branch.find(2).name, branch_subjects_path(Branch.find(2)) %></h3></div>
    </div>

    <div class="col-md-4 flex-container-branch">
      <div class="flex-item-branch "><h3><%=  link_to Branch.find(3).name, branch_subjects_path(Branch.find(3)) %></h3></div>
    </div>
  </div>
  <br>
  <div class="clearfix"></div>

  <div class="row">

    <div class="col-md-4 flex-container-branch">
      <div class="flex-item-branch "><h3><%=  link_to Branch.find(4).name, branch_subjects_path(Branch.find(4)) %></h3></div>
    </div>
    <div class="col-md-4 flex-container-branch">
      <div class="flex-item-branch "><h3><%=  link_to Branch.find(5).name, branch_subjects_path(Branch.find(5)) %></h3></div>
    </div>
    <div class="col-md-4 flex-container-branch">
      <div class="flex-item-branch "><h3><%=  link_to Branch.find(6).name, branch_subjects_path(Branch.find(6)) %></h3></div>
    </div>
  </div>

  <div class="clearfix"></div>
  <br>
  <div class="row">
    <div class="col-md-4 flex-container-branch">
      <div class="flex-item-branch "><h3><%=  link_to Branch.find(7).name, branch_subjects_path(Branch.find(7)) %></h3></div>
    </div>

    <div class="col-md-4 flex-container-branch">
      <div class="flex-item-branch "><h3><%=  link_to Branch.find(8).name, branch_subjects_path(Branch.find(8)) %></h3></div>
    </div>

    <div class="col-md-4 flex-container-branch">
      <div class="flex-item-branch "><h3><%=  link_to Branch.find(9).name, branch_subjects_path(Branch.find(9)) %></h3></div>
    </div>
  </div>

</div>

<div class="container-fluid recent-uploads">
  <h4>Recent files uploaded</h4>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#first-year"><%= Branch.find(1).name %></a></li>
    <li><a data-toggle="tab" href="#cse">CSE</a></li>
    <li><a data-toggle="tab" href="#it">IT</a></li>
    <li><a data-toggle="tab" href="#ce">Civil</a></li>
    <li><a data-toggle="tab" href="#me">ME</a></li>
    <li><a data-toggle="tab" href="#ee">EE</a></li>
    <li><a data-toggle="tab" href="#etc">ETC</a></li>
    <li><a data-toggle="tab" href="#eee">EEE</a></li>
    <li><a data-toggle="tab" href="#ei">EI</a></li>
  </ul>

  <div class="tab-content">
    <div id="first-year" class="tab-pane fade in active">
      <h3 align="center" style="color: white;"><%= Branch.find(1).name %></h3>
      <div class="col-md-6">
        <h4 align="center">Uploads</h4>
        <% recent_uploads(Branch.find(1)).each do |upload| %><%# defined in home pages helper %>
          <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
        <% end -%>
        <p>
          <%= link_to "more", branch_path(Branch.find(1)) %>
        </p>
      </div>
      <div class="col-md-6">
        <h4 align="center">links</h4>
        <% recent_links(Branch.find(1)).each do |link| %><%# defined in home pages helper %>
          <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
        <% end -%>
      </div>
    </div>

    <div id="cse" class="tab-pane fade">
      <h3 align="center"><%= Branch.find(2).name %></h3>
      <div class="col-md-6">
      <h4 align="center">Uploads</h4>
        <% recent_uploads(Branch.find(2)).each do |upload| %><%# defined in home pages helper %>
          <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
        <% end -%>
      </div>
      <div class="col-md-6">
        <h4 align="center">Links</h4>
        <% recent_links(Branch.find(2)).each do |link| %><%# defined in home pages helper %>
          <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
        <% end -%>
      </div>
    </div>

    <div id="it" class="tab-pane fade">
      <h3 align="center"><%= Branch.find(3).name %></h3>
      <div class="col-md-6">
        <h4 align="center">Uploads</h4>
        <% recent_uploads(Branch.find(3)).each do |upload| %><%# defined in home pages helper %>
          <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
        <% end -%>
      </div>
      <div class="col-md-6">
        <h4 align="center">Links</h4>
        <% recent_links(Branch.find(3)).each do |link| %><%# defined in home pages helper %>
          <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
        <% end -%>
      </div>
    </div>

    <div id="ce" class="tab-pane fade">
      <h3 align="center"><%= Branch.find(4).name %></h3>
      <div class="col-md-6">
        <h4 align="center">Uploads</h4>
        <% recent_uploads(Branch.find(4)).each do |upload| %><%# defined in home pages helper %>
          <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
        <% end -%>
      </div>
      <div class="col-md-6">
        <h4 align="center">Links</h4>
        <% recent_links(Branch.find(4)).each do |link| %><%# defined in home pages helper %>
          <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
        <% end -%>
      </div>
    </div>

    <div id="me" class="tab-pane fade">
      <h3 align="center"><%= Branch.find(5).name %></h3>
      <div class="col-md-6">
        <h4 align="center">Uploads</h4>
        <% recent_uploads(Branch.find(5)).each do |upload| %><%# defined in home pages helper %>
          <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
        <% end -%>
      </div>
      <div class="col-md-6">
        <h4 align="center">Links</h4>
        <% recent_links(Branch.find(5)).each do |link| %><%# defined in home pages helper %>
          <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
        <% end -%>
      </div>
    </div>

    <div id="ee" class="tab-pane fade">
      <h3 align="center"><%= Branch.find(6).name %></h3>
      <div class="col-md-6">
        <h4 align="center">Uploads</h4>
        <% recent_uploads(Branch.find(6)).each do |upload| %><%# defined in home pages helper %>
          <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
        <% end -%>
      </div>
      <div class="col-md-6">
        <h4 align="center">Links</h4>
        <% recent_links(Branch.find(6)).each do |link| %><%# defined in home pages helper %>
          <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
        <% end -%>
      </div>
    </div>

    <div id="etc" class="tab-pane fade">
      <h3 align="center"><%= Branch.find(7).name %></h3>
      <div class="col-md-6">
        <h4 align="center">Uploads</h4>
        <% recent_uploads(Branch.find(7)).each do |upload| %><%# defined in home pages helper %>
          <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
        <% end -%>
      </div>
      <div class="col-md-6">
        <h4 align="center">Links</h4>
        <% recent_links(Branch.find(7)).each do |link| %><%# defined in home pages helper %>
          <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
        <% end -%>
      </div>
    </div>


    <div id="eee" class="tab-pane fade">
      <h3 align="center"><%= Branch.find(8).name %></h3>
      <div class="col-md-6">
        <h4 align="center">Uploads</h4>
        <% recent_uploads(Branch.find(8)).each do |upload| %><%# defined in home pages helper %>
          <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
        <% end -%>
      </div>
      <div class="col-md-6">
        <h4 align="center">Links</h4>
        <% recent_links(Branch.find(8)).each do |link| %><%# defined in home pages helper %>
          <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
        <% end -%>
      </div>
    </div>

    <div id="ei" class="tab-pane fade">
      <h3 align="center"><%= Branch.find(9).name %></h3>
      <div class="col-md-6">
        <h4 align="center">Uploads</h4>
        <% recent_uploads(Branch.find(9)).each do |upload| %><%# defined in home pages helper %>
          <%= link_to upload.topic, upload.file.url, target: "_blank" %><br>
        <% end -%>
      </div>
      <div class="col-md-6">
        <h4 align="center">Links</h4>
        <% recent_links(Branch.find(9)).each do |link| %><%# defined in home pages helper %>
          <%= link_to link.topic, url_with_protocol(link.url), target: "_blank" %><br>
        <% end -%>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $("#explore").click(function () {
    $('html, body').animate({
      scrollTop: $(".branch").offset().top
    }, 500);
  });
</script>
