<div>
  <div align="center" style="font-family: 'IM Fell DW Pica'; color: white; font-size:2em;">
    <b>Recent Uploads</b>
  </div>
  <br>
  <div class="flex-container-recent">
    <div>
      <% current_user.feeds.each do |upload| %>
        <div class="flex-item-recent">
          <h5><%= link_to upload.subject.name, subject_show_path(name: upload.subject.branch.name, subject_name: upload.subject.name) %></h5>
          <h5>
            &nbsp;&nbsp;&nbsp;
            <% if upload[:file_file_name] %>
              file: <%= link_to upload.topic, upload.file.url, target: "_blank" %>
            <% elsif upload[:url] %>
              link: <%= link_to upload[:topic], url_with_protocol(upload[:url]), target: "_blank" %>
            <% end -%>
            &nbsp;&nbsp;
            <small>
              <i>
                Uploaded By - <%= upload.user.name %> -
                <%= time_ago_in_words(upload.created_at) %> ago
              </i>
              <br>
            </small>
          </h5>
        </div>
      <% end -%>
    </div>
  </div>
</div>
