<div class="panel uploads_section">
  <div class="panel-body">
    <i><h2 style="font-family : 'Kaushan Script'; font-weight: 'bold';">Upload files</h2></i>
    <!-- <input id="input-id" type="file" class="file" data-preview-file-type="text" > -->
    <!-- demo for input file using fileinput.min.css and fileinput.min.js-->
    <%= form_for (@upload) do |f| %>
      <%= f.text_field :topic, class: "form-control", placeholder: "Topic", include_blank: false, required: true, minlength: 5 %>
      <br>
      <%= f.select :subject_id, user_upload_preferences.collect { |s| [s.name, s.id] }, {include_blank: false}, { class: "form-control"} %><br>
      <%= f.file_field :file, id: "input-id", class: "file", :"data-preview-file-type" => "text" %>
      <br><!--
      <%= f.submit "upload", class: "btn btn-default" %> -->
    <% end -%>
  </div>
</div>
