<% provide(:title, "welcome") %>
<div style="margin-top:-1.8%;">
	<% if !user_signed_in? %> <a name="top"></a> <%# user is not signed in %>
		<div class="main_home_page_1">
			<div class="main_home_page">
				<div class="col-md-6">
					<!-- <div style="margin-top:10%;">
						<h4><%= link_to "About", '#about_us' %></h4>
						<h4><%= link_to "How to Upload", '#how_to_upload' %></h4>
						<h4><%= link_to "Subjects", subjects_path %></h4>
						<h4><%= link_to "Contact Us", '#contact' %></h4>
					</div> -->
				</div>			
				<div class="col-md-6 not_signed_middle">
					<div class="not_signed_in_panel">
						<div class="panel panel-default link-container">
							<div class="panel-heading" style="padding-left:10%;">
								Recent Uploads
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "more", uploads_path %>
							</div>
							<div class="panel-body" style="padding-left:10%;">
								<% Upload.all.order(created_at: :desc).limit(7).each do |upload| %>
									<h5>
						        <%= link_to upload.topic, upload.file.url , target: "_blank" %>
						        <small>
						        	<!-- uploaded by <%= link_to upload.user.name, '#' %> &nbsp; 
						        	<%= time_ago_in_words(upload.created_at) %> ago -->
						        	(<%= upload.subject.branch.name %>)
						        </small>
						      </h5>
								<% end -%>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- <div class="main_about_page" style="background-color: white;">
				<a name="about_us"></a>
				<b><h3 align="center">ABOUT</h3></b>
				<a href="#top">goto Top ^</a>
			</div>

			<div class="main_how_upload_page">
				<a name="how_to_upload"></a>
				<b><h3 align="center">How to Upload</h3></b>
				<a href="#top">goto Top ^</a>
				<p align="right"> <%= image_tag "share4.png", size: "160" %></p>
			</div>

			<div class="main_contact_page">
				<hr>
				<a name="contact"></a>
				<a href="#top">goto Top ^</a> l
				<h4><%# link_to "Team", team_path %></h4>
			</div> -->
	</div>
	<% elsif current_user.has_role? :admin %>
	<h3>Hello Admin</h3>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<% if @unapprovedUploads.empty? %>
					<h3>No Pending Upload Approvals</h3>
				<% else %>
					<%= form_tag({controller: "home_pages", action: "upload_approval"}, method: "get") do %>
						<% @unapprovedUploads.each do |u| %>
							<br><hr>
							<%= u.topic %>
							<%= check_box_tag(:"#{u.id}") %>
						<% end %>
						<br><hr>
	  				<%= submit_tag("Approve") %>
					<% end %>
				<% end %>
			</div>

			<div class="col-sm-6">
				<% if @unapprovedLinks.empty? %>
					<h3>No Pending Link Approvals</h3>
				<% else %>
					<%= form_tag({controller: "home_pages", action: "link_approval"}, method: "get") do %>
						<% @unapprovedLinks.each do |u| %>
							<br><hr>
							<%= u.topic %>
							<%= check_box_tag(:"#{u.id}") %>
						<% end %>
						<br><hr>
	  				<%= submit_tag("Approve") %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>


























	<% else # if user is signed in %>
		<div class="signed_in_main_page">
			<div class="col-md-2">
				<!-- <h3><%# link_to "paste link", '#', class: "btn btn-info btn-lg", "data-target": :"#myModal", "data-toggle": :"modal" %></h3> -->
				<!-- Trigger the modal with a button -->
				<br>
				<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">
					<h5>Paste Link</h5>
				</button>
			</div>
	
			<div class="col-md-8">
				<br>
				<div class="panel uploads_section">
					<div class="panel-body">
						<h4>Upload files</h4>
						<!-- <input id="input-id" type="file" class="file" data-preview-file-type="text" > -->
						<!-- demo for input file using fileinput.min.css and fileinput.min.js-->
						<%= form_for (@upload) do |f| %>
							<%= f.text_field :topic, class: "form-control", placeholder: "Topic", include_blank: false, required: true, minlength: 5 %>
							<br>
							<%= f.select :subject_id, user_upload_preferences.collect { |s| [s.name, s.id] }, {include_blank: false}, { class: "form-control"} %><br>
							<%= f.file_field :file, id: "input-id", class: "file", :"data-preview-file-type" => "text" %>
							<br><!-- 
							<%= f.submit "upload", class: "btn btn-default" %> -->
						<% end -%>
					</div>
				</div>
				<div>
					<div align="center" style="font-family: 'IM Fell DW Pica'; color: white; font-size:2em;">
					  <b>Recent Uploads</b>
					</div>
					<br>
					<div class="flex-container-recent">
						<div>
							<% current_user.feeds.each do |upload| %>
								<div class="flex-item-recent">
									<h5><%= link_to upload.subject.name, subject_path(upload.subject) %></h5>
									<h5>
										&nbsp;&nbsp;&nbsp;
										<% if upload[:file_file_name] %>
											file: <%= link_to upload.topic, upload.file.url, target: "_blank" %>
										<% elsif upload[:url] %>
											link: <%= link_to upload[:topic], url_with_protocol(upload[:url]), target: "_blank" %>
										<% end -%>
										&nbsp;&nbsp;
										<small>
											<i>
												Uploaded By - <%= upload.user.name %> - 
												<%= time_ago_in_words(upload.created_at) %> ago
											</i>
											<br>
										</small>
									</h5>
								</div>
							<% end -%>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-2">
				
			</div>
		</div>	
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Paste Link</h4>
		      </div>
		      <div class="modal-body">
		         <%= form_for (@link) do |f| %>
						<%= f.text_field :topic, class: "form-control", placeholder: "Topic", include_blank: false, required: true, minlength: 5 %><br>
						<%= f.select :subject_id, user_upload_preferences.collect { |s| [s.name, s.id] }, {include_blank: false}, { class: "form-control"} %><br>
						<%# f.file_field :file, id: "input-id", class: "file", :"data-preview-file-type" => "text" %>
						<div class="form-input">
							<%= f.text_field :url, class: "form-control", placeholder: "eg. http://www.example.com", required: true, type: "url" %>
						</div>
						<br>
						<div class="modal-footer">
							<%= f.submit "paste", class: "btn btn-default" %> 
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					<% end -%>
		      </div>
		      <!-- <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div> -->
		    </div>

		  </div>
		</div>s
	<% end -%>
</div>







			 
<!-- 			 
<div id="demo" style="background-color:black; margin-left:-2%;">
  <div class="list-group" style="padding-left:2%;margin-right:2%;">
    <a href="#" class="list-group-item active">Item 1</a>
    <a href="#" class="list-group-item">Item 2</a>
    <a href="#" class="list-group-item">Item 3</a>
    <a href="#" class="list-group-item">Item 4</a>
    <a href="#" class="list-group-item">Item 5</a>
    ...
  </div>
</div> -->

<script type="text/javascript">
	$('#demo').BootSideMenu({
		side:"left", // left or right
		autoClose:true // auto close when page loads
	});
</script>