<% provide(:title, "search results") %>
<div class="search-page">
<br>
	<div class="container-fluid">
		<div class="col-sm-2">
			<!-- <div class="panel panel-default search-results">
	       		<div class="panel-heading">
	         		Branch search result
	       		</div>
		       	<div class="panel-body">
			        <%# @branch_search_result.each do |branch| %>
			          <h5><%#= branch.name %></h5>
			        <%# end %>
		       	</div>
	     	</div>	 -->
		</div>

		<div class="col-sm-8">
			<% if @query_length_check == 0 || @upload_search_result.blank? # => in application_controller  %>
				<div class="jumbotron">
					<h3 style="font-family : 'Droid Serif';" align="center">Oops! Not Found</h3>
				</div>
			<% else # => search results found %>
				<div align="center" style="font-family: 'IM Fell DW Pica'; font-size:2em;">
					<b>search results</b>
				</div>
				<div class="clearfix"></div>

				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#uploads">Uploads</a></li>
					<li><a data-toggle="tab" href="#links">Links</a></li>
				</ul>

				<div class="tab-content">
					<div id="uploads" class="tab-pane fade in active">
						<h3>Uploads</h3>
						<div class="flex-container-search">
							<div>
								<% @upload_search_result.each do |upload| %>
									<div class="flex-item-search">
										<div class="row">
											<div class="col-md-11">
												<h5><%= link_to upload.subject.name, [upload.subject.branch, upload.subject] %></h5>
													<h4 style="font-family : 'Droid Serif';">
														&nbsp;&nbsp;&nbsp;file: <%= link_to upload.topic, upload.file.url , target: "_blank" %>
														<small>
															uploaded by <%= upload.user.name %> &nbsp;
															<small><%= time_ago_in_words(upload.created_at) %> ago</small>
														</small>
													</h4>
											</div>
											<div class="col-md-1">
												<br>
												<%= social_share_button_tag("upload", :url => "http://www.letshareit.in/uploads/#{upload.id}", popup: true, align: 'right') %>
											</div>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
					<div id="links" class="tab-pane fade">
						<h3>Links</h3>
						<div class="flex-container-search">
								<div>
									<% @link_search_result.each do |link| %>
										<div class="flex-item-search">
											<h5><%= link_to link.subject.name, [link.subject.branch, link.subject] %></h5>
												<h4>
													&nbsp;&nbsp;&nbsp;link: <%= link_to link.topic, '#' , target: "_blank" %>
													<small>
														linked by <%= link.user.name %> &nbsp;
														<small><%= time_ago_in_words(link.created_at) %> ago</small>
													</small>
												</h4>
											</div>
									<% end %>
								</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>

		<div class="col-sm-2">
			<!-- <div class="panel panel-default search-results">
	       		<div class="panel-heading">
	         		Subject search Result
	       		</div>
		       	<div class="panel-body">
			        <%# @subject_search_result.each do |subject| %>
			          <h5><%#= link_to subject.name, subject_path(subject) %> | <%#= subject.code %><br></h5>
			        <%# end %>
		       	</div>
	     	</div> -->
		</div>
	</div>
</div>
