<% provide :title, @link.topic %>
<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Topic:</strong>
  <%= @link.topic %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @link.url %>
</p>

<p>
  <strong>User:</strong>
  <%= @link.user.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @link.subject.name %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %> -->



<div class="container-fluid">
  <div class="col-md-3">

	</div>

	<div class="col-md-6">
		<div class="flex-container-uploads">
			<div>
			  	<div class="flex-item-uploads">
			  		<h5><%= link_to @link.subject.name, [@link.subject.branch, @link.subject] %></h5>
			  		<h5>
			  			&nbsp;&nbsp;&nbsp;
			  			link: <%= link_to @link.topic, @link.file.url, target: "_blank" %>
			  			<small>
				      		&nbsp;uploaded by: <%= @link.user.name %> &nbsp;
				        <small><%= time_ago_in_words(@link.created_at) %> ago</small>
				      </small>
			  		</h5>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">

	</div>
</div>
