<div class="container-fluid">
  <h5 align = "center" ; style="font-family:'Crimson Text';"><%= @subject.name %></h5>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#uploads-show">Uploads <small>(<%= @subject.same_subject_uploads.count %>)</small></a></li>
    <li><a data-toggle="tab" href="#links-show">Links <small>(<%= @subject.same_subject_links.count %>)</small></a></li>
  </ul>

  <div class="tab-content">
    <br>
    <div id="uploads-show" class="tab-pane fade in active">

      <% if @subject.same_subject_uploads.count != 0 %>
        <div class="flex-container-subject">
          <div>
            <% @subject.same_subject_uploads.each do |upload| %>
              <div class="flex-item-subject">
<<<<<<< HEAD
                <h5 style="font-family:'Crimson Text';"><%= upload.subject.name  %></h5>
                <h4 style="font-family : 'Droid Serif';">
                  &nbsp;&nbsp;&nbsp;file: <%= link_to upload.topic, upload.file.url , target: "_blank" %>
                  <small>
                    uploaded by <%= upload.user.name %> &nbsp;
                    <small><%= time_ago_in_words(upload.created_at) %> ago</small>
                    <div align="right">
        							<%= social_share_button_tag("upload", :url => "http://www.letshareit.in/uploads/#{upload.id}", popup: true, align: 'right') %>
        						</div>
                  </small>
                </h4>
=======
                <div class="row">
                  <div class="col-md-11">
                    <h5 style="font-family:'Crimson Text';"><%= upload.subject.name  %> <small>(<%= upload.subject.branch.name %>)</small></h5>
                    <h4>
                      &nbsp;&nbsp;&nbsp;file: <%= link_to upload.topic, upload.file.url , target: "_blank" %>
                      <small>
                        uploaded by <%= upload.user.name %> &nbsp;
                        <small><%= time_ago_in_words(upload.created_at) %> ago</small>
                      </small>
                    </h4>
                  </div>
                  <div class="col-md-1">
                    <br>
                      <%= social_share_button_tag("upload", :url => "http://www.letshareit.in/uploads/#{upload.id}", popup: true, align: 'right') %>
                  </div>
                </div>

>>>>>>> dae3f4234ad53661e8ab96364a3b878f8593af99
              </div>
            <% end %> <%# end of upload each%>
          </div>
        </div>

      <% else %>

        <div class="panel panel-default">
          <div class="panel-body well" align="center">
            <h3 style="font-family : 'Kaushan Script' ;"><b>No uploads</b></h3>
          </div>
        </div>

      <% end %>


    </div>
    <div id="links-show" class="tab-pane fade">

      <% if @subject.same_subject_links.count != 0 %>
        <div class="flex-container-subject">
          <div>
            <% @subject.same_subject_links.each do |link| %>
              <div class="flex-item-subject">
<<<<<<< HEAD
                <h5 style="font-family:'Crimson Text';"><%= link.subject.name  %></h5>
                <h4 style="font-family : 'Droid Serif';">
                  &nbsp;&nbsp;&nbsp;link: <%= link_to link.topic, url_with_protocol(link.url) , target: "_blank" %>
                  <small>
                    linked by <%= link.user.name %> &nbsp;
                    <small><%= time_ago_in_words(link.created_at) %> ago</small>
                    <div align="right">
        							<%= social_share_button_tag("link", :url => "http://www.letshareit.in/links/#{link.id}", popup: true, align: 'right') %>
        						</div>
                  </small>
                </h4>
=======
                <div class="row">
                  <div class="col-md-11">
                    <h5 style="font-family:'Crimson Text';"><%= link.subject.name  %> <small>(<%= link.subject.branch.name %>)</small></h5>
                    <h4>
                      &nbsp;&nbsp;&nbsp;link: <%= link_to link.topic, url_with_protocol(link.url) , target: "_blank" %>
                      <small>
                        linked by <%= link.user.name %> &nbsp;
                        <small><%= time_ago_in_words(link.created_at) %> ago</small>
                      </small>
                    </h4>
                  </div>
                  <div class="col-md-1">
                    <br>
                      <%= social_share_button_tag("link", :url => "http://www.letshareit.in/links/#{link.id}", popup: true, align: 'right') %>
                  </div>
                </div>

>>>>>>> dae3f4234ad53661e8ab96364a3b878f8593af99
              </div>
            <% end -%>
          </div>
        </div>

      <% else %>

        <div class="panel panel-default">
          <div class="panel-body well" align="center">
            <h3 style="font-family:'Crimson Text';"><b>No links</b></h3>
          </div>
        </div>


      <% end %>

    </div>
  </div>
</div>
