<% provide(:title, "Subjects") %>
<div class="subject_index_page" style="margin-top:-2%;">
  <br>
<div class="container">
  <p id="notice"><%= notice %></p>
  <section>
    <div class="col-md-6">
      <div class="jumbotron first_year">
        <div class="panel panel-default link-container">
        <div class="panel-heading"><b><%= Branch.first.name %></b></div>
        <div class="panel-body">
            <% Branch.first.subjects.each do |subject| %>
              <h4><%= link_to subject.name, [subject.branch, subject] %><h4>
            <% end -%>
        </div>
        </div>
      </div>
    </div>
    <!-- cse panel -->
    <div class="col-md-6">
      <div class="jumbotron cse">
        <div class="panel panel-default link-container">
          <div class="panel-heading"><b><%= Branch.second.name %>/ <%= Branch.third.name %></b></div>
          <div class="panel-body">
              <% Branch.second.subjects.each do |subject| %>
                <h4><%= link_to subject.name, [subject.branch, subject] %></h4>
              <% end -%>
              <% Branch.third.subjects.each do |subject| %>
                <h4><%= link_to subject.name, [subject.branch, subject] %></h4>
              <% end -%>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="col-md-6">
      <div class="jumbotron civil">
        <div class="panel panel-default link-container">
          <div class="panel-heading"><b><%= Branch.fourth.name %></b></div>
          <div class="panel-body">
              <% Branch.fourth.subjects.each do |subject| %>
                <h4><%= link_to subject.name, [subject.branch, subject] %></h4>
              <% end -%>
            </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="col-md-6">
      <div class="jumbotron mechanical">
        <div class="panel panel-default mech_panel link-container">
          <div class="panel-heading"><b><%= Branch.fifth.name %></b></div>
          <div class="panel-body">
              <% Branch.fifth.subjects.each do |subject| %>
                <h4><%= link_to subject.name, [subject.branch, subject] %></h4>
              <% end -%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="jumbotron ee">
        <div class="panel panel-default link-container">
          <div class="panel-heading"><b><%= Branch.find(6).name %></b></div>
          <div class="panel-body">
            <p>
              <% Branch.find(6).subjects.each do |subject| %>
                <h4><%= link_to subject.name, [subject.branch, subject] %></h4>
              <% end -%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="col-md-6">
      <div class="jumbotron etc">
        <div class="panel panel-default link-container">
          <div class="panel-heading"><b><%= Branch.find(7).name %></b></div>
          <div class="panel-body">
              <% Branch.find(7).subjects.each do |subject| %>
                <h4><%= link_to subject.name, [subject.branch, subject] %><br></h4>
              <% end -%>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="jumbotron eee">
        <div class="panel panel-default link-container">
          <div class="panel-heading"><b><%= Branch.find(8).name %></b></div>
          <div class="panel-body">
            <p>
              <% Branch.find(8).subjects.each do |subject| %>
                <h4><%= link_to subject.name, [subject.branch, subject] %></h4>
              <% end -%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="col-md-6">
      <div class="jumbotron ei">
        <div class="panel panel-default link-container">
          <div class="panel-heading"><b><%= Branch.find(9).name %></b></div>
          <div class="panel-body">
              <% Branch.find(9).subjects.each do |subject| %>
                <h4><%= link_to subject.name, [subject.branch, subject] %></h4>
              <% end -%>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

</div>
