<% provide(:title, "#{@subject.name}") %>
<div>
  <p id="notice"><%= notice %></p>
  <nav class="subject_show_page_nav navbar" data-spy="affix" data-offset-top="130">
    <br>
    <div>
      <div class="col-md-4" align="center">
        <font size="4"> <b>Subject :</b> <%= @subject.name %> </font>
      </div>

      <div class="col-md-4" align="center">
        <font size="4"><b>Code : </b><%= @subject.code %></font>
      </div>

      <div class="col-md-4" align="center">
        <font size="4"><b>Branch : </b><%= @subject.branch.name %></font>
      </div>
    </div>
  </nav>
  <!-- <hr style="margin-top: -0.1%; color:black;"> -->
  <div class="subject_show_page">
    <div class="container-fluid">
      <br>
      <div class="col-md-2">
        <!--  -->
      </div>
      <div class="col-md-8">
        <% if @uploads.count != 0 %>
          <div class="flex-container-subject">
            <div>
              <% @uploads.each do |upload| %>
                <div class="flex-item-subject">
                  <h5><%= upload.subject.name  %></h5>
                  <h4>
                    &nbsp;&nbsp;&nbsp;file: <%= link_to upload.topic, upload.file.url , target: "_blank" %>
                    <small>
                      uploaded by <%= upload.user.name %> &nbsp;
                      <small><%= time_ago_in_words(upload.created_at) %> ago</small>
                    </small>
                  </h4>
                </div>
              <% end %> <%# end of upload each%>
              <% @links.each do |link| %>
                <div class="flex-item-subject">
                  <h5><%= link.subject.name  %></h5>
                  <h4>
                    &nbsp;&nbsp;&nbsp;link: <%= link_to link.topic, '#' , target: "_blank" %>
                    <small>
                      linked by <%= link.user.name %> &nbsp;
                      <small><%= time_ago_in_words(link.created_at) %> ago</small>
                    </small>
                  </h4>
                </div>
              <% end -%>
            </div>
          </div>
        <% else %>
          <!-- <div class="jumbotron" align="center">
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
            <h3><b>No uploads</b></h3>
          </div> -->
          <div class="panel panel-default">
            <div class="panel-body well" align="center">
              <h3><b>No uploads</b></h3>
              <%# distance_of_time_in_words @subject.created_at, @subject.updated_at %>
            </div>
          </div>
        <% end -%> <%# end of if tag %>
      </div>
      <div class="col-md-2">
       <!--  -->
      </div>
    </div>
  </div>
</div>
