<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @subject.code %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @subject.branch.name %>
</p>

<h3> Recent Uploads </h3>


<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Uploaded By</th>
      <th>Uploaded Time</th>
    </tr>
  </thead>

  <tbody>
    <% @uploads.each do |upload| %>
      <tr>
        <td><%= upload.topic %></td>
        <td><%= upload.user.name %></td>
        <td><%= time_ago_in_words(upload.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', subjects_path %>