<p id="notice"><%= notice %></p>
<!-- 
<h1>Listing User Preferences</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% #@user_preferences.each do |user_preference| %>
      <tr>
        <td><%= user_preference.user.name %></td>
        <td><%= user_preference.subject.name %></td>
        <td><%= #link_to 'Show', user_preference %></td>
        <td><%= #link_to 'Edit', edit_user_preference_path(user_preference) %></td>
        <td><%= #link_to 'Destroy', user_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% #end %>
  </tbody>
</table>

<br>

<%= #link_to 'New User preference', new_user_preference_path %>
 -->

<div class="container">
  <div>
    <b>Your subjects Preferences :</b> <br>
    <% current_user.user_preferences.each do |preference| %>
      <%= preference.subject.name %><br>
    <% end -%>
  </div>
  <h3>
  <%= link_to 'New User preference', new_user_preference_path %>
  </h3>
</div>