<div class="uploads_section upload_infinite_scroll">
	<div align="center" style="font-family: 'IM Fell DW Pica'; font-size:2em;">
	  <b>List of all Uploads</b>
	</div>
	<br>
	<div id="uploads">
	  <% @uploads.each do |upload| %>
		<div class="flex-item-uploads">
			<div class="row">
				<div class="col-md-11">
					<h5  style="font-family : 'Fauna One';"><%= link_to upload.subject.name, [upload.subject.branch, upload.subject] %> <small>(<%= upload.subject.branch.name %>)</small> </h5>
				    <h5>
				      &nbsp;&nbsp;&nbsp;file: <%= link_to upload.topic, upload.file.url , target: "_blank" %>
				      <small>
				      &nbsp;uploaded by: <%= upload.user.name %> &nbsp;
				        <small><%= time_ago_in_words(upload.created_at) %> ago</small>
				      </small>
				    </h5>
				</div>
				<div class="col-md-1">
					<br>
						<%= social_share_button_tag("upload", :url => "http://www.letshareit.in/uploads/#{upload.id}", popup: true) %>
				</div>
			</div>
		</div>
	  <% end %>
	</div>
</div>
