<div class="uploads_section upload_infinite_scroll">
	<div align="center" style="font-family: 'IM Fell DW Pica'; color: white; font-size:2em;">
	  <b>List of all Uploads</b>
	</div>
	<br>
	<div id="uploads">
	  <% @uploads.each do |upload| %>
		<div class="flex-item-uploads">
			<h5><%= link_to upload.subject.name, [upload.subject.branch, upload.subject] %></h5>
		    <h5>
		      &nbsp;&nbsp;&nbsp;file: <%= link_to upload.topic, upload.file.url , target: "_blank" %>
		      <small>
		      &nbsp;uploaded by: <%= upload.user.name %> &nbsp;
		        <small><%= time_ago_in_words(upload.created_at) %> ago</small>
						<%# social_share_button_tag(upload.file.url, url: "http://localhost:3000/uploads/#{upload.id}") %>
						<%= social_share_button_tag("upload", :url => "http://www.letshareit.in/uploads/#{upload.id}") %>
		      </small>
		    </h5>
		</div>
	  <% end %>
	</div>
</div>
