<p id="notice"><%= notice %></p>

<p>
  <strong>Topic:</strong>
  <%= @upload.topic %>
</p>

<p>
  <strong>User:</strong>
  <%= @upload.user %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @upload.subject %>
</p>

<%= link_to 'Edit', edit_upload_path(@upload) %> |
<%= link_to 'Back', uploads_path %>
