<div class="well">
  <h2 class="text-center" style = "font-family: 'Kaushan Script'">Links by me : </h2>

  <% if @unapprovedLinks.empty? %>
    <h3 style="font-family:'Cookie';"> No Pending Approvals </h3>
  <% else %>
    <h3 style="font-family:'Cookie';">Unapproved Links</h3>
    <% @unapprovedLinks.each do |link| %>
      <%= link_to link.topic, link.url, target: "_blank" %> &nbsp;&nbsp;&nbsp;
      <small><%= link_to 'delete', link, method: :delete, data: { confirm: 'Are you sure?' } %></small><br>
    <% end -%>
  <% end %>


  <% if @approvedLinks.empty? %>
    <h3 style="font-family:'Cookie';">No Links From Your Side. <strong><%= link_to "contribute.", root_path %></strong> </h3>
  <% else %>
    <h3 style="font-family:'Cookie';"> Approved Links</h3>
    <% @approvedLinks.each do |link| %>
      <%= link_to link.topic, link.url, target: "_blank" %> &nbsp;&nbsp;&nbsp;
      <small><%= link_to 'delete', link, method: :delete, data: { confirm: 'Are you sure?' } %></small><br>
    <% end -%>
  <% end %>
</div>
