<div class="well">

  <h2 class="text-center" style = "font-family: 'Playfair Display';">Uploads By Me : </h2>

  <% if @unapprovedUploads.empty? %>
    <h4 style="font-family:'Courgette';">No Pending Approvals </h4>
  <% else %>
    <h4 style="font-family:'Courgette';">Unapproved Uploads</h4>
    <% @unapprovedUploads.each do |upload| %>
      <%= link_to upload.topic, upload.file.url, target: "_blank" %> &nbsp;&nbsp;&nbsp;
      <small><%= link_to 'delete', upload, method: :delete, data: { confirm: 'Are you sure?' } %></small><br>
    <% end -%>
  <% end %>


  <% if @approvedUploads.empty? %>
    <h4 style="font-family:'Courgette';">No Uploads From Your Side. <strong><%= link_to "contribute.", root_path %></strong> </h4>
  <% else %>
    <h4 style="font-family:'Courgette';">Approved Uploads</h4>
    <% @approvedUploads.each do |upload| %>
      <%= link_to upload.topic, upload.file.url, target: "_blank" %> &nbsp;&nbsp;&nbsp;
      <small><%= link_to 'delete', upload, method: :delete, data: { confirm: 'Are you sure?' } %></small><br>
    <% end -%>
  <% end %>

</div>
