<div class="well">
  <h3 class="text-center" style = "font-family: 'Kaushan Script'">Uploads by me : </h3>

  <% if @unapprovedUploads.empty? %>
    <h4 style="font-family:'Marcellus SC';">No pending approvals. </h4>
  <% else %>
    <h4 style="font-family:'Marcellus SC';">Unapproved Uploads</h4>
    <% @unapprovedUploads.each do |upload| %>
      <%= link_to upload.topic, upload.file.url, target: "_blank" %> &nbsp;&nbsp;&nbsp;
      <small><%= link_to 'delete', upload, method: :delete, data: { confirm: 'Are you sure?' } %></small><br>
    <% end -%>
  <% end %>


  <% if @approvedUploads.empty? %>
    <h4 style="font-family:'Marcellus SC';">No uploads from your side. <strong><%= link_to "contribute.", root_path %></strong> </h4>
  <% else %>
    <h4 style="font-family:'Marcellus SC';">Approved Uploads</h4>
    <% @approvedUploads.each do |upload| %>
      <%= link_to upload.topic, upload.file.url, target: "_blank" %> &nbsp;&nbsp;&nbsp;
      <small><%= link_to 'delete', upload, method: :delete, data: { confirm: 'Are you sure?' } %></small><br>
    <% end -%>
  <% end %>

</div>
