<div class="well">
  <h2 class="text-center" style = "font-family: 'Kaushan Script'">Uploads by me : </h2>

  <% if @unapprovedUploads.empty? %>
    <h3 style="font-family:'Cookie';">No Pending Approvals </h3>
  <% else %>
    <h3 style="font-family:'Cookie';">Unapproved Uploads</h3>
    <% @unapprovedUploads.each do |upload| %>
      <%= link_to upload.topic, upload.file.url, target: "_blank" %> &nbsp;&nbsp;&nbsp;
      <small><%= link_to 'delete', upload, method: :delete, data: { confirm: 'Are you sure?' } %></small><br>
    <% end -%>
  <% end %>


  <% if @approvedUploads.empty? %>
    <h3 style="font-family:'Cookie';">No Uploads From Your Side. <strong><%= link_to "contribute.", root_path %></strong> </h3>
  <% else %>
    <h3 style="font-family:'Cookie';">Approved Uploads</h3>
    <% @approvedUploads.each do |upload| %>
      <%= link_to upload.topic, upload.file.url, target: "_blank" %> &nbsp;&nbsp;&nbsp;
      <small><%= link_to 'delete', upload, method: :delete, data: { confirm: 'Are you sure?' } %></small><br>
    <% end -%>
  <% end %>

</div>
