<div class="well">
  <h4 class="text-center">Links by me : </h4>

  <% if @unapprovedLinks.empty? %>
    <h4>No pending approvals. </h4>
  <% else %>
    <h4>Unapproved Links</h4>
    <% @unapprovedLinks.each do |link| %>
      <%= link_to link.topic, link.url, target: "_blank" %> &nbsp;&nbsp;&nbsp;
      <small><%= link_to 'delete', link, method: :delete, data: { confirm: 'Are you sure?' } %></small><br>
    <% end -%>
  <% end %>


  <% if @approvedLinks.empty? %>
    <h4>No links from your side. <strong><%= link_to "contribute.", root_path %></strong> </h4>
  <% else %>
    <h4>Approved Links</h4>
    <% @approvedLinks.each do |link| %>
      <%= link_to link.topic, link.url, target: "_blank" %> &nbsp;&nbsp;&nbsp;
      <small><%= link_to 'delete', link, method: :delete, data: { confirm: 'Are you sure?' } %></small><br>
    <% end -%>
  <% end %>
</div>
