<% provide(:title, "Profile - #{@user.name}") %>
<div class="profile_page">
	<br>
	<div class="container">
		<%# @user defined in profile controller  %>
		<div class="row">
			<div class="col-md-4">
				<div class="panel panel-default image-container">
					<div class="panel-body" align="center">
						<%= gravatar_for_large @user %><br><br>
						<b><%= @user.name %> </b><br>
						<!-- <%# @user.branch.name %> <br> -->
						<%= @user.email %> <br>
						<p align="center">
							<%= @user.about_me %>
						</p>
					</div>
				</div>

				<div>
					<%= render 'profile/my_links' %>
				</div>
			</div>

			<div class="col-md-8">
				<% if !current_user.has_role? :admin %>
					<%= render 'profile/preferences' %> <%# page to add/remove user preferences %>
				<% end %>
				<%= render 'profile/my_uploads' %>
			</div>
		</div>
	</div>
</div>
