<nav class="navbar navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Letshareit</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
      
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to "logged in as: #{current_user.email}" %></li>
            <li><%= link_to "Edit profile", edit_user_registration_path %></li>
            <li><%= link_to "log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><a href="<%= new_user_registration_path %>"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="<%= new_user_session_path %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <% end -%>
      </ul>

    </div>
  </div>
</nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

