<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | LetShareIt</title>
  <%= favicon_link_tag 'favicon1.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= google_webfonts_init({
    google: ['Roboto Slab', 'Roboto', 'Courgette', 'Francois One', 'Abril Fatface', 'IM Fell DW Pica', 'Poiret One', 'Lobster','Abril Fatface' , 'Dancing Script','Kaushan Script', 'Marcellus SC' ,'Crimson Text' , 'Josefin Slab', 'Philosopher','Playball','Great Vibes','Limelight','Ceviche One','Sacramento','Quantico','Aclonica','Droid Serif','Cookie']
  }) %>
</head>
<body>
  <div class="spinner-load">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
  	<div id="all-page-wrapper">
      <div id="header">
        <%= render '/layouts/header' %>
      </div>

      <div id="contents-page">
        <% if notice %>
      		<div id="notice_wrapper">
      			<p class="notice"><%= notice %></p>
      		</div>
      	<% elsif alert %>
      		<div id="notice_wrapper">
      			<p class="alert"><%= alert %></p>
      		</div>
      	<% end %>

          <%= yield %>
      </div>



      <div id="footer">
        <%= render 'layouts/footer' %>
      </div>

  	</div>
</script>
</body>
</html>
